* {
	font-family: "0xProto Nerd Font";
	/* font-weight: bold; */
	font-size: 16px;
}


window#waybar {
    background: rgba(0, 0, 0, 0); /* fully transparent */
    color: #ffffff; /* keep text visible */
    border: none;
    box-shadow: none;
	padding: 0;
    margin: 0;
}

#window {
	font-weight: normal;
}

/* optional: remove module backgrounds if they have their own */
#workspaces button,
#clock,
#battery,
#network,
#pulseaudio,
#tray,
#mpris,
#memory,
#bluetooth,
#language,
#cpu {
    background: transparent;
    border: none;
    box-shadow: none;
	padding: 0 7px;
	font-weight: bold;
}

#workspaces button {
	padding: 0 5px;
	margin: 0;
}
#battery {
	padding-right: 20px;
}

#workspaces button.active {
    color: white;
}

#custom-wireguard.connected {
    color: #a6e3a1; /* Green */
}
#custom-wireguard.disconnected {
    color: #f38ba8; /* Red */
}

