[Unit]
Description=KMonad keyboard remapper
After=multi-user.target

[Service]
ExecStart=/usr/bin/kmonad /etc/kmonad/layout.kbd
Restart=never
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
