[Unit]
Description=hypridle
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- /usr/bin/hypridle
Restart=on-failure

[Install]
WantedBy=graphical-session.target
