[Unit]
Description=Hyprland Wayland Compositor
After=graphical-session-pre.target
Wants=graphical-session-pre.target

[Service]
Type=exec
ExecStart=start-hyprland
Restart=on-failure

[Install]
WantedBy=graphical-session.target

