[Unit]
Description=Waybar
Wants=graphical-session.target
After=graphical-session.target

[Service]
Type=exec
ExecStart=/usr/bin/uwsm app -- /usr/bin/waybar
Restart=on-failure

[Install]
WantedBy=graphical-session.target
